<div class=highlightable><ul class=topics>
      <li data-nav-id=/2018/ title="2018 - TLA+ Community Event" class=dd-item><a href=http://tla2018.loria.fr/>2018 - TLA+ Community Event</a></li>
      <li data-nav-id=/2014/ title="2014 - TLA+ Community Event" class=dd-item><a href=http://tla2014.loria.fr/>2014 - TLA+ Community Event</a></li>
      <li data-nav-id=/2012/ title="2012 - TLA+ Community Event" class=dd-item><a href=http://tla2012.loria.fr/>2012 - TLA+ Community Event</a></li>
</ul></div>
      <h4>Contact</h4>
       "tla2021" \o "@" \o "tlapl.us"

